@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
#input {
	font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	font-size:18px;
}
#editor {
	background: white;
}
html, body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	color:#646464;
	overflow: hidden;
	-webkit-app-region: drag;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul li {
	display: inline-block;
	margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	position: relative;
}
#doctitle {
	position: absolute;
	width: 100%;
	text-align: center;
	top:5px;
	font-size: 18px;
}
#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
}
#container>.panel {
	display: inline-block;
	position: absolute;
	width: 50%;
	height: 100%;
}
#leftpanel {
	left:0;
}
#rightpanel {
	right: 0;
}
#divider {
	position: absolute;
	width: 1px;
	height: 100%;
	left:50%;
	background-image: -webkit-linear-gradient(bottom, #b6b6b6 0%, #e8e8e8 100%);
}
#editor, #preview {
	height: 100%;
}
#input, #output {
	width:100%;
	height:100%;
	border:0;
	padding:0;
	background: white;
	resize:none;
}
#input:focus {
	outline: none;
}

@media print {
	#leftpanel {
		display: none !important;
	}
	#rightpanel {
		width: 100% !important;
	}
	#divider {
		display: none !important;
	}
}